html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
body {
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
  background: var(--body);
  font-weight: 400;
}
ul,
ol,
li {
  list-style: none;
}
img,
fieldset {
  border: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
figure {
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
embed,
iframe,
object,
video {
  max-width: 100%;
}
html {
  -webkit-text-size-adjust: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[placeholder],
[placeholder],
*[placeholder] {
  color: inherit;
}
*::-webkit-input-placeholder {
  color: inherit;
}
*:-moz-placeholder {
  color: inherit;
  opacity: 1;
}
*::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: inherit;
}

.topImage {
  position: fixed;
  top: -50px;
  left: 0;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.topImage img {
  width: 100%;
  height: 300px;
}

.hero {
  height: 100vh;
}
.hero #waves {
  overflow: hidden;
  height: 100%;
  position: absolute;
  bottom: -200px;
  z-index: 0;
}

.slider-column img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.slider-column .swiper-slider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.slider-section {
  margin: 0 auto;
  padding-block: 5rem;
  margin-top: 80px;
}

.slider-section .slider-column {
  max-width: 900px;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}
.slider-details {
  height: 250px;
  /* background: rgba(255, 0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 20px; */
  /* box-shadow: 0px 0px 8px -2px rgba(145,145,145,0.5); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* -webkit-backdrop-filter: blur(2px); */
  /* backdrop-filter: blur(2px); */
}
.slier-content {
  padding: 20px 30px;
  text-align: center;
}
.slier-content h1 {
  margin-bottom: 10px;
  font-size: 33px !important;
  color: var(--commonColor);
  font-size: var(--titlefontSize);
  font-weight: var(--sixFont);
}
.slier-content p {
  color: #555;
  font-size: 15px !important;
  font-size: var(--pfontSize);
}
/* Optional: You can keep the rest of the styles if needed */

.animationBabal {
  border-radius: 50%;
  position: absolute;
  /* background: linear-gradient(to right, #F3831F 30%, #DA3D27); */
}

.anima1 {
  width: 50px;
  height: 50px;
  top: 20%;
  left: 18%;
  background: linear-gradient(to right, #f3831f 30%, #da3d27);
}

.anima2 {
  width: 70px;
  height: 70px;
  top: 22%;
  left: 78%;
  background: linear-gradient(to right, #f3831f 30%, #da3d27);
}

.anima3 {
  width: 100px;
  height: 100px;
  top: 55%;
  left: 13%;
  border: 5px solid #f3831f;
  animation: anima3 1s timing-function delay iteration-count direction fill-mode;
}

/* Choose Us Style in Heare */

.choose {
  /* width: 100%;/ */
  /* background-color: rgba(0, 0, 0, 0.192); */
  padding: 40px;
}

.row {
  max-width: 76rem;
  margin: 0 auto;
}

.chooseContainer {
  display: flex;
}

.chooseLeftPart {
  flex: 1;
}

.chooseUsTitle {
  width: 100%;
  /* background-color: #fff; */
  padding: 28px 22px;
  border-left: 6px solid #d11d27;
  margin-bottom: 28px;
}

.chooseUsMineTitle {
  color: #828282;
  font-family: Bai Jamjuree;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chooseUsHeadTitle {
  width: 543px;
  color: #c62e26;
  font-family: Bai Jamjuree;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chooseUsparagraph p {
  color: #828282;
  width: 592px;
  font-family: Bai Jamjuree;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 13px;
}

.chooseUsparagraph p:last-child {
  margin-bottom: 13px;
}

.chooseRightPart {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 22px;
  column-gap: 22px;
  padding: 0 20px;
  position: relative;
}

.chooseRightPartCard {
  width: 285px;
  height: 191px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.41) 0%,
    rgba(250, 250, 250, 0.41) 100%
  );
  box-shadow: 0px 0px 4px 2px rgba(208, 207, 207, 0.25);
  backdrop-filter: blur(5.5px);
  padding: 10px 20px;
  z-index: 20px;
}

.chooseRightPartCardTopContant {
  display: flex;
  align-items: center;
}

.chooseRightPartCardTopContant img {
  width: 38px;
  height: 28px;
  margin-right: 10px;
}

.chooseRightPartCardTopContant h4 {
  color: #000;
  width: 205px;
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  margin-bottom: 15px;
}

.chooseRightPartCardBottonContant p {
  color: #828282;
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
}

/* ------jahangir---- */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.center_content {
  max-width: 1269px;
  width: 100%;
  margin: 0 auto;
}
.work_on_area {
  padding: 0 70px;
  position: relative;
  z-index: 5;
}
.work_on_holder {
  padding: 30px 0 100px 0;
}
.section_title {
  text-align: center;
}
.section_title h2 {
  color: #b50107;
  font-size: 33px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}
.section_title h2::after {
  content: "";
  width: 67px;
  height: 4px;
  border-radius: 4px;
  background: #b50107;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
}
.section_title {
  padding-bottom: 37px;
}
.service_column_bg {
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 1px rgba(107, 107, 107, 0.09);
  padding: 22px 22px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service_column {
  width: 25%;
  padding: 10px 11px 30px 11px;
}
#service_carousel .service_column {
  width: 100%;
  height: 100%;
}
#service_carousel.owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
}
.service_icon {
  padding-bottom: 25px;
}
.service_icon img {
  margin: 0 auto;
  width: auto !important;
}
.service_column_bg h3 {
  color: #b50107;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 17px;
}
.service_column_bg h3 a {
  color: #b50107;
}
.service_column_bg p {
  color: #828282;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  padding-bottom: 30px;
}
.learn_more_btn {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #d32a2f;
  background: rgba(208, 207, 207, 0);
  border-radius: 0 10px 0 10px;
  font-size: 17px;
  color: #c62e26;
  margin-top: auto;
  position: relative;
}
.learn_more_btn span {
  display: inline-block;
  padding-right: 28px;
  background: url("../img/arrow_right.svg") no-repeat right center;
  line-height: 20px;
}
.learn_more_btn:hover > span {
  background: url("../img/arrow_right_hover.svg") no-repeat right center;
}
.learn_more_btn:hover {
  background-color: #b52025;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .work_on_area {
    padding: 0 9px;
  }
}
